body {
    background-color: beige;
    font-family: 'BenchNine', sans-serif;font-size: 20px;
    max-width: 100%;
    
}

h1 {
    margin:auto;
    text-align: center;
    
}
h2 {
    margin:auto;
    text-align: center;
    
}
h3 {
    margin:auto;
    text-align: center;
    
}
nav{
    margin:3em;
}


p {
    margin:3em;
    text-align: center;
    padding:2em;
    border:2px;
    border-color:black;
    
}


 
    
  img{
        display:none;
    }   
   


@media screen and (max-width: 767px)
{
    .sanfran{background-image: none;
    display:none;}
    .costa{background-image:none;
        display:none;}
    
    .aside{
        visibility: hidden;
        display:none;
         }
    header>h2{
    display:none;
}
    footer>p{
        display:none;
    }
    figure h2{display:none;}
    
}

    
   
   


[class*="col-"]  {float: left; width: 100%; margin: 0;}




@media screen and (min-width: 768px){
.col-t-1 {width: 8.33%;}
.col-t-2 {width: 16.66%;}
.col-t-3 {width: 25%;}
.col-t-4 {width: 33.33%;}
.col-t-5 {width: 41.66%;}
.col-t-6 {width: 50%;}
.col-t-7 {width: 58.33%;}
.col-t-8 {width: 66.66%;}
.col-t-9 {width: 75%;}
.col-t-10 {width: 83.33%;}
.col-t-11 {width: 91.66%;}
.col-t-12 {width: 100%;}
     .aside{
        visibility: hidden;
        display:none;
         }
    
    footer>p{
        display:inline;
    }
   
 
    
    img {
    display:block;
    max-width: 100%;
    height: 250px;
    width:300px;
    border-radius:15px;
    margin:auto;
}
   
    ul{
        text-align: center;
    }
    
    li{width:25%;
        display:inline-block}
}

@media screen and (min-width: 1000px){
.col-d-1 {width: 8.33%;}
.col-d-2 {width: 16.66%;}
.col-d-3 {width: 25%;}
.col-d-4 {width: 33.33%;}
.col-d-5 {width: 41.66%;}
.col-d-6 {width: 50%;}
.col-d-7 {width: 58.33%;}
.col-d-8 {width: 66.66%;}
.col-d-9 {width: 75%;}
.col-d-10 {width: 83.33%;}
.col-d-11 {width: 91.66%;}
.col-d-12 {width: 100%;}
     .aside{
        visibility: visible;
        display:block;
         }
    
 li{width:30%;
    display:inline-block;
    }
    }

.row::after {
    content: "";
    clear: both;
    display: block;}

* {
    box-sizing: border-box;
    
}


.costa {
    background:radial-gradient(rgba(255, 255, 255, 0.38),rgba(56, 88, 132, 0.44)),url(https://www.costarica.com/contentAsset/image/f989844e-960c-4cca-b9c2-87638dc2d18c/fileAsset/filter/Resize,Jpeg/resize_w/1000/Jpeg_q/.8);
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
    
}
.sanfran {
    background:radial-gradient(rgba(255, 255, 255, 0.67),rgba(193, 148, 86, 0.29)),url(http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1444253482/DG2015-san-francisco.jpg?itok=MdRJm2Zo);
    background-position:top left;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
    
}

.cancun {
    background:radial-gradient(rgba(255, 255, 255, 0.8),rgba(91, 111, 23, 0)),url(https://www.transat.com/getmedia/3f826a07-ccf1-4069-ace4-879d609b11f9/Mexico-CancunQuai-2050x1200?width=1400);
    background-position:top left;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
.charls{
     background:radial-gradient(rgba(255, 255, 255, 0.8),rgba(91, 111, 23, 0)),url(http://caldwellcommercial.com/wp-content/uploads/2017/07/Charleston-SC-Facade-Caldwell.jpg);
    background-position:top left;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
    }
.sav{
     background:radial-gradient(rgba(255, 255, 255, 0.88),rgba(235, 248, 246, 0.19)),url(http://41117c3788692e2438c3-e11b433c1205b5fea2159ff846fdbd40.r28.cf1.rackcdn.com/XLGallery/Forsyth-Park-in-Savannah.jpg);
    background-position:top left;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    
}
footer {
    text-align: center;
    color:red;
    display:inline-block;
}

.aside {
    
    background-color: rgba(229, 51, 51, 0.22);
    padding: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.32), 0 1px 2px rgba(0,0,0,0.24);
    
}